<!DOCTYPE html> 
<html> 
<head>

<title>Story Registration List</title>

</head>  
<body>  
    <center> <h1>Story List</h1> </center> 
    <form method="POST" action="/StoryList/new">
        

	 


    <label for="Reader">UReader:</label><br>
    <input type="Name" id="rname" name="rname" placeholder="Write Here!"><br>
    <label for="Gender">UGender:</label><br>
    <input type="text" id="Gender" name="Gender" placeholder="F/M"><br><br>


            <button type="submit" id="btnEnter">Enter</button> 
           
        
        {% csrf_token %}
    </form>  

</body>   
</html>

 
