<!DOCTYPE html>
<!--code by codingflicks.com-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Background HTML CSS | No javascript</title>
    <link rel="stylesheet" href="style.css">
<style> 
 body
    {
        font-family: Century Gothic;
        background-color:lightblue;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    header {
        background-color: violet;
    }
 
    header ul li {
        display: inline-block;
        padding:40px;
    }
 
    header li a {
        color: #00008B;
        text-decoration: none;
        font-weight: bolder;
        padding-left: 50px;

    }
</style>
</head>
<body>
<div class="homepage">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>List</li>
            
        <ul>

        <h2>Story List</h2>

</div>
 <form method="POST" action="/page4/">

  <label for="Stories">Stories:</label><br>
  <input type="text" id="stories" name="stories" palceholder="Type Here"><br>
  <label for="nTitle">nTitle:</label><br>
  <input type="text" id="nTitle" name="nTitle" placeholder= "Type Here"><br>
  <label for= "nAuthor">nAuthor:</label><br>
  <input type="text" id="nAuthor" name="nAuthor" placeholder="Type Here"><br>
  <label for="nCategory">nCategory:</label><br>
  <input type="text" id="nCategory" name="nCategory" placeholder="Fill Here"><br>
 
{% csrf_token %}
<input 
  type="submit" 
  id="submit"
  name="submit"
  size="5"
  value="submit"
  />

 </form>   
</body>
</html>
