<div class="center">
	<h1>Reader</h1>
	<form method="POST" action="/new_reader"> 
		{% csrf_token %} 
	  <div class="inputbox">
		<input type="text" name="rname" id="rname" required="required">
		<span>Name</span>
	  </div>
	  <div class="inputbox">
		<input type="text" name="Gender" id="Gender" required="required">
		<span>Gender</span>
	  </div>
	  <div class="inputbox">
		<input type="text" name="Age" id="Age" required="required">
		<span>Age</span>
	  </div>
	  <h1>Category</h1>
	  <div class="inputbox">
		<input type="text" name="nCategory" id="nCategory"required="required">
		<span>Category</span>
	  </div>
	  <div class="inputbox">
		<input type="text" name="Category" id="Category" required="required">
		<span>New Reader</span>
	  </div>
	  <button id="submit" type="submit">Submit</button></form>
	  {% csrf_token %}
	   </div>
	</form>
  </div>
  <style>
	@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
  body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_655998316_2000149920009280219_363765.jpg);
	font-family: "Sansita Swashed", cursive;
  }
  .center {
	position: relative;
	padding: 50px 50px;
	background: rgb(231, 196, 143);
	border-radius: 10px;
  }
  .center h1 {
	font-size: 1.5em;
	border-left: 5px solid dodgerblue;
	padding: 0px;
	color: #000;
	letter-spacing: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	padding-left: 30px;
	
  }
  .center .inputbox {
	position: relative;
	width: 300px;
	height: 50px;
	margin-bottom: 40px;
  }
  .center .inputbox input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid #000;
	outline: none;
	background: none;
	padding: 10px;
	border-radius: 10px;
	font-size: 1em;
  }
  .center .inputbox:last-child {
	margin-bottom: 0;
  }
  .center .inputbox span {
	position: absolute;
	top: 14px;
	left: 20px;
	font-size: 15px;
	transition: 0.6s;
	font-family: sans-serif;
  }
  .center .inputbox input:focus ~ span,
  .center .inputbox input:valid ~ span {
	transform: translateX(-13px) translateY(-35px);
	font-size: 1em;
  }
  .center .inputbox [type="button"] {
	width: 50%;
	background: dodgerblue;
	color: #fff;
	border: #fff;
  }
  .center .inputbox:hover [type="button"] {
	background: linear-gradient(45deg, greenyellow, dodgerblue);
  }
  
  </style>


  

		<table id="id_table" name='tr'>

         
          {% for reader in readers %} 
           <tr>  
          
            <td>{{reader.nName}}</td> 
            <td>{{reader.nGender}}</td> 
            <td>{{reader.nAge}}</td> 
            <td><a href="edit/{{reader.id}}">EDIT</a></td>
       		<td><a href="delete/{{reader.id}}">DELETE</a></td>
        </tr> {% endfor %} 
 		</table>