<!DOCTYPE html>
<!--code by codingflicks.com-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Background HTML CSS | No javascript</title>
    <link rel="stylesheet" href="style.css">
<style>

 body
    {
        font-family: Century Gothic;
        background-color:lightblue;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    header {
        background-color: violet;
    }
 
    header ul li {
        display: inline-block;
        padding:40px;
    }
 
    header li a {
        color: #00008B;
        text-decoration: none;
        font-weight: bolder;
        padding-left: 50px;

    }
}
</style>
</head>
<body>
<div class="homepage">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>List</li>
            
        <ul>

        <h2>Story List</h2>

</div>
 <form method="POST" action="/page3/">

  
  <label for= "Category">Category:</label><br>
  <input type="text" id="nCategory" name="nCategory" placeholder="Type Here"><br>
  <label for="NewReader">NewReader:</label><br>
  <input type="text" id="NewReader" name="NewReader" placeholder="Right Here"><br>

  {% csrf_token %}
  <input 
  type="submit" 
  id="submit"
  name="submit"
  size="5"
  value="submit"
  />

 </form>   
</body>
</html>
