<!DOCTYPE html> 
<html> 
<head>

<title>Story Registration List</title>

</head>  
<body>  
    <center> <h1>Story Registration List</h1> </center> 
    <form method="POST" action="/StoryList/{{ list.id }}/add_item">
        

   


    
    <label for="Category">:<lable></lable>
    <input type="text" id="ncategory" name="ncategory" placeholder ="Fill Here"><br><br>
    <input type="text" id="nreader" name="nreader" placeholder="Write Here"><br><br>

            <button type="submit" id="btnEnter" name="btnEnter"style="font-size: 20px;">Enter</button> 
           
        
        {% csrf_token %}
    </form>  
    
    
    

</body>   
</html>

 
