<!DOCTYPE html> 
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration List</title>


<style> 

    
</style> 
</head>  
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Original+Surfer&family=Playfair+Display+SC&display=swap" rel="stylesheet">
<body>  
     <h1>Story Registration List</h1>

     <form method="POST" action="/StoryList/{{ list.id }}/add_item">
     <label style="font-family:'Original Surfer', italic ;"> Reader: </label> 
     <input type="text" id="reader"placeholder="Fill Here" name="reader" 
     <label style="font-family:'Original Surfer', italic ;"> Title: </label> 
     <input type="text" id="title"placeholder="Fill Title Here" name="title" >
     <label style="font-family:'Original Surfer', italic ;"> Author : </label> 
     <input type="text" id="author"placeholder="Writers Name" name="author" >
    {% csrf_token %}

    <button type="submit" id="btnContinue" name="btnContinue"style="font-size: 16px;">Continue</button> 
    </form> 
 
           
<table id="id_table" name='tr'>
      
          
       <tr>
       {% for item in list.item_set.all %} 
       <! -- {{ forloop.counter }}:  -->
               <td>{{ item.npet }}</td>
   
         <td>{{ item.nBreed }}</td>
        
        <td>{{ item.nDay}}</td>
          </tr>
        {% endfor %}
    </table>

</body>   
</html>

 
