
<html>

<title>Story Registration Form</title>

<body>

<h2>Story Registration Form</h2>

<form>
  <label for="fname"><h4>ChildName: </h4></label>
  <input type="text" id="fname" name="fname" >
  <label for="fname"><h4>Age:</h4><label>
  <input type="text" id="fname" name="fname" >
  <br>
  <label for="fname"><h2>Story Theme</h2> </style></label>
 
   <input type="text" id="theme1">Friendship
  <input type="text" id="Male">Courage
  <input type="text" id="Male">Family
  <input type="text" id="Male">Growing Up
  
               <br><br>
               <input type="submit" value="Register">
</form>

</body>
</html>